*.pyc
.DS_Store
.coverage
.env
venv/
gen/
tests/
static/
config.py
*.log
*.rdb
celerybeat-schedule*
logs/
.idea/
node_modules/
migrations/
.git/

lk_utils/sms/
lk_utils/iot/
lk_utils/wechat/
requirements.txt
lk_utils/redisx/operations.py
lk_utils/sqlalchemyx/cachex.py
