*.pyc
.DS_Store
.coverage
.env
venv/
gen/
tests/
.webassets-cache
bower_components/
app/static/node_modules/
config.py
yarn-error.log
.idea
app.log*
dump.rdb
migrations/versions
celerybeat-schedule*
node_modules
logs/
migrations/
#docker-compose.yml
cloud_admin/settings.py